body{
	font-family: 'Open Sans', sans-serif;
	background: url("images/bg-desktop.svg") repeat 0 0;
	background-color: hsl(257, 40%, 49%);
}

/*Logo*/

.logo{
	position: absolute;
	font-family: 'Poppins', sans-serif;
	color:#fff;
	margin-left: 50px;
	margin-top: 40px;
	font-size: 30px;
}
.fas{
	margin: 0 10px;
}

/*Main content*/
.big-img{
	display: inline-block;
	float: left;
	width: 660px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 140px;
}
.main{
	display: inline-block;
	width: 500px;
	margin-top: 160px;
}
.main-text{
	font-family: 'Poppins', sans-serif;
	color:#fff;
	width: 400px;
	line-height: 1.5;
}
.sub-text{
	color:#dcdcdc;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 40px;
}

/*Icons*/

.icons{
	margin-left: 1060px;
	color: #fff;
}
.social-icon{
	margin: 80px 10px;
}

/*Attribution*/

.attribution{
	margin-left: 50px;
	color: #fff;
}
.credit{
	font-family: 'Poppins', sans-serif;
	
}
.credit-text{
	color:#7fffd4;
}

/*For Mobile*/

@media (max-width: 375px){
	body{
	margin: 0;
	width: 375px;
	font-family: 'Open Sans', sans-serif;
	background-color: hsl(257, 40%, 49%);
	}
	.upper-part{
		background: url("images/bg-mobile.svg") repeat 0 0;

	}
	.logo{
		margin-top: 50px;
		margin-left: 20px;
	}
	.big-img{
		width: 320px;
		margin: 140px 20px 20px 20px;
	}
	.main{
		text-align: center;
		width: 370px;
		margin: 0 auto;
	}
	.main-text{
		width: 340px;
		font-size: 27px;
		padding: 0 10px 0 10px;
	}
	.sub-text{
		font-size: 13px;
		padding: 0 25px 0 25px;
	}

	.icons{
		margin: 10px auto 10px auto;
		text-align: center;
		color: #fff;
	}
	.social-icon{
		margin: 80px 5px;
	}

	.main-content{
		width: 375px;
	}
	.attribution{
		text-align: center;
		margin: 0 auto;
	}
}
/*Button*/
.btn {
  -webkit-border-radius: 41;
  -moz-border-radius: 41;
  border-radius: 41px;
  font-family: 'Poppins', sans-serif;
  color: #ee82ee;
  font-size: 18px;
  background: #fff;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfcfc;
  background-image: -webkit-linear-gradient(top, #3cfcfc, #36e3da);
  background-image: -moz-linear-gradient(top, #3cfcfc, #36e3da);
  background-image: -ms-linear-gradient(top, #3cfcfc, #36e3da);
  background-image: -o-linear-gradient(top, #3cfcfc, #36e3da);
  background-image: linear-gradient(to bottom, #3cfcfc, #36e3da);
  text-decoration: none;
}